<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Epicor_HostingManager>
            <version>1.0.6.0.2</version>
        </Epicor_HostingManager>
    </modules>

    <global>
        <ecc_version_info>
            <Epicor_HostingManager>
                <version>1.0.9.6</version>
                <released>2018-07-26</released>
            </Epicor_HostingManager>
        </ecc_version_info>
        <blocks>
            <hostingmanager>
                <class>Epicor_HostingManager_Block</class>
            </hostingmanager>
        </blocks>
        <helpers>
            <hostingmanager>
                <class>Epicor_HostingManager_Helper</class>
            </hostingmanager>
        </helpers>
        <models>
            <hostingmanager>
                <class>Epicor_HostingManager_Model</class>
                <resourceModel>hostingmanager_resource</resourceModel>
            </hostingmanager>
            <hostingmanager_resource>
                <class>Epicor_HostingManager_Model_Resource</class>
                <entities>
                    <site>
                        <table>epicor_hosting_site</table>
                    </site>
                    <certificate>
                        <table>epicor_hosting_certificate</table>
                    </certificate>         
                </entities>
            </hostingmanager_resource>
        </models>
        <resources>
            <hostingmanager_setup>
                <setup>
                    <module>Epicor_HostingManager</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </hostingmanager_setup>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <hostingmanager>
                    <file>epicor_hostingmanager.xml</file>
                </hostingmanager>
            </updates>
        </layout>
        <events>
            <adminhtml_store_edit_form_prepare_form>
                <observers>
                    <epicor_hostingmanager_model_observer>
                        <type>singleton</type>                          
                        <class>Epicor_HostingManager_Model_Observer</class>
                        <method>removeDefaultFields</method>
                    </epicor_hostingmanager_model_observer>
                </observers>
            </adminhtml_store_edit_form_prepare_form>
            <store_save_after>
                <observers>
                    <epicor_hostingmanager_model_observer>
                        <type>singleton</type>                          
                        <class>Epicor_HostingManager_Model_Observer</class>
                        <method>updateSiteCode</method>
                    </epicor_hostingmanager_model_observer>
                </observers>
            </store_save_after>
            <website_save_after>
                <observers>
                    <epicor_hostingmanager_model_observer>
                        <type>singleton</type>                          
                        <class>Epicor_HostingManager_Model_Observer</class>
                        <method>updateSiteCode</method>
                    </epicor_hostingmanager_model_observer>
                </observers>
            </website_save_after>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <hostingmanager before="Mage_Adminhtml">Epicor_HostingManager_Adminhtml</hostingmanager>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>