<?xml version="1.0"?>
<config>
    <modules>
        <Epicor_Quotes>
            <version>1.0.7.0</version>
        </Epicor_Quotes>
    </modules>
    <global>
        <ecc_version_info>
            <Epicor_Quotes>
                <version>1.0.9.6</version>
                <released>2018-07-26</released>
            </Epicor_Quotes>
        </ecc_version_info>
        <erps>
            <e10>
                <epicor_quotes>
                    <general>
                        <prefix></prefix>
                    </general>
                </epicor_quotes>
            </e10>
            <xVP>
                <epicor_quotes>
                    <general>
                        <prefix></prefix>
                    </general>
                </epicor_quotes>
            </xVP>
            <tropos>
                <epicor_quotes>
                    <general>
                        <prefix></prefix>
                    </general>
                </epicor_quotes>
            </tropos>
            <p21>
                <epicor_quotes>
                    <general>
                        <prefix>Q-</prefix>
                    </general>
                </epicor_quotes>
            </p21>
        </erps>
        <models>
            <quotes>
                <class>Epicor_Quotes_Model</class>
                <resourceModel>quotes_resource</resourceModel>
            </quotes>
            <quotes_resource>
                <class>Epicor_Quotes_Model_Mysql4</class>
                <entities>
                    <quote>
                        <table>epicor_quotes_quote</table>
                    </quote>
                    <quote_product>
                        <table>epicor_quotes_quote_product</table>
                    </quote_product>  
                    <quote_note>
                        <table>epicor_quotes_quote_note</table>
                    </quote_note>   
                    <quote_customer>
                        <table>epicor_quotes_quote_customer</table>
                    </quote_customer>        
                </entities>
            </quotes_resource>
        </models>
        <blocks>
            <quotes>
                <class>Epicor_Quotes_Block</class>
            </quotes>
        </blocks>
        <helpers>
            <quotes>
                <class>Epicor_Quotes_Helper</class>
            </quotes>
        </helpers>
        <resources>
            <quotes_setup>
                <setup>
                    <module>Epicor_Quotes</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </quotes_setup>
        </resources>
        <fieldsets>
            <sales_convert_quote>
                <epicor_quote_id>
                    <to_order>*</to_order>
                </epicor_quote_id>
                <erp_quote_id>
                    <to_order>*</to_order>
                </erp_quote_id>
            </sales_convert_quote>
        </fieldsets>
        <template>
            <email>
                <epicor_quotes_email_alerts_admin_update_email_template>
                    <label>Epicor Quote Update</label>
                    <file>quotes/quote_admin_update.html</file>
                    <type>html</type>
                </epicor_quotes_email_alerts_admin_update_email_template>
                <epicor_quotes_email_alerts_customer_update_email_template>
                    <label>Epicor Quote Update</label>
                    <file>quotes/quote_customer_update.html</file>
                    <type>html</type>
                </epicor_quotes_email_alerts_customer_update_email_template>
                <epicor_quotes_email_alerts_reminder_email_template>
                    <label>Epicor Quote Reminder</label>
                    <file>quotes/quote_reminder.html</file>
                    <type>html</type>
                </epicor_quotes_email_alerts_reminder_email_template>
                <epicor_quotes_email_alerts_customer_note_email_template>
                    <label>Epicor Quote Customer Note</label>
                    <file>quotes/quote_customer_note.html</file>
                    <type>html</type>
                </epicor_quotes_email_alerts_customer_note_email_template>
                <epicor_quotes_email_alerts_admin_note_email_template>
                    <label>Epicor Quote Admin Note</label>
                    <file>quotes/quote_admin_note.html</file>
                    <type>html</type>
                </epicor_quotes_email_alerts_admin_note_email_template>
            </email>
        </template>
    </global>
    <frontend>
        <secure_url>
            <quotes>/epicor_quotes/</quotes>
        </secure_url>
        <routers>
            <quotes>
                <use>standard</use>
                <args>
                    <module>Epicor_Quotes</module>
                    <frontName>epicor_quotes</frontName>
                </args>
            </quotes>
        </routers>
        <layout>
            <updates>
                <quotes>
                    <file>quotes.xml</file>
                </quotes>
            </updates>
        </layout>
        <events>
            <checkout_cart_save_before>
                <observers>
                    <checkForEmptyCart>
                        <class>Epicor_Quotes_Model_Observer</class>
                        <method>checkForEmptyCart</method>
                    </checkForEmptyCart>
                </observers>
            </checkout_cart_save_before>
            <sales_quote_item_save_before>
                <observers>
                    <stopAddingProduct>
                        <class>Epicor_Quotes_Model_Observer</class>
                        <method>stopAddingProduct</method>
                    </stopAddingProduct>
                </observers>
            </sales_quote_item_save_before>              
            <checkout_onepage_controller_success_action>
                <observers>
                    <updateQuoteStatusToOrdered>
                        <class>Epicor_Quotes_Model_Observer</class>
                        <method>updateQuoteStatusToOrdered</method>
                    </updateQuoteStatusToOrdered>
                </observers>
            </checkout_onepage_controller_success_action>
            <checkout_multishipping_controller_success_action>
                <observers>
                    <updateQuoteStatusToOrdered>
                        <class>Epicor_Quotes_Model_Observer</class>
                        <method>updateQuoteStatusToOrdered</method>
                    </updateQuoteStatusToOrdered>
                </observers>
            </checkout_multishipping_controller_success_action>
            <epicor_common_can_access_url_after>
                <observers>
                    <updateQuoteStatusToOrdered>
                        <class>Epicor_Quotes_Model_Observer</class>
                        <method>canAccessUrlAfter</method>
                    </updateQuoteStatusToOrdered>
                </observers>
            </epicor_common_can_access_url_after>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <epicorquotes before="Mage_Adminhtml">Epicor_Quotes_Adminhtml</epicorquotes>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <quotes>
                    <file>quotes.xml</file>
                </quotes>
            </updates>
        </layout>
    </adminhtml>
    <crontab>
        <jobs>
            <expire_epicore_quotes>
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>quotes/cron::checkedExpired</model>
                </run>
            </expire_epicore_quotes>
        </jobs>
    </crontab>
    <default>
        <epicor_quotes>
            <general>
                <enabled>1</enabled>
                <days_till_expired>7</days_till_expired>
                <single_quote_note>0</single_quote_note>
                <prefix></prefix>
            </general>
            <notes>
                <quote_note_type>multiple</quote_note_type>
                <line_note_type>single</line_note_type>
            </notes>
            <email_alerts>
                <send_reminders>both</send_reminders>
                <days_to_send_reminders>5,2,1</days_to_send_reminders>
                <reminder_email_template>epicor_quotes_email_alerts_reminder_email_template</reminder_email_template>
                <reminder_email_address>general</reminder_email_address>
                
                <send_admin_update_emails>1</send_admin_update_emails>
                <admin_update_email_template>epicor_quotes_email_alerts_admin_update_email_template</admin_update_email_template>
                <admin_update_email_address>general</admin_update_email_address>
                <admin_states>pending,expired,rejected_customer,accepted,ordered</admin_states>
                
                <send_customer_update_emails>1</send_customer_update_emails>
                <customer_update_email_template>epicor_quotes_email_alerts_customer_update_email_template</customer_update_email_template>
                <customer_update_email_address>general</customer_update_email_address>
                <customer_states>pending,awaiting_acceptance,expired,rejected_admin</customer_states>
                <send_customer_note_emails>1</send_customer_note_emails>
                <customer_note_email_template>epicor_quotes_email_alerts_customer_note_email_template</customer_note_email_template>
                <customer_note_email_address>general</customer_note_email_address>
                
                <send_admin_note_emails>1</send_admin_note_emails>
                <admin_note_email_template>epicor_quotes_email_alerts_admin_note_email_template</admin_note_email_template>
                <admin_note_email_address>general</admin_note_email_address>
            </email_alerts>
        </epicor_quotes>
    </default>
</config>
