<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Epicor_Common>
            <version>1.0.9.0.2</version>
        </Epicor_Common>
    </modules>
    <frontend>  
        <secure_url>
            <epicor>/epicor/</epicor>
        </secure_url>
        <layout>
            <updates>
                <epicor_common module="epicor_common">
                    <file>epicor_common.xml</file>
                </epicor_common>
            </updates>
        </layout>
        <routers>
            <customer>
                <args>
                    <modules>
                        <Epicor_Common before="Mage_Customer">Epicor_Common</Epicor_Common>
                    </modules>
                </args>
            </customer>
            <epicor>
                <use>standard</use>
                <args>
                    <module>Epicor_Common</module>
                    <frontName>epicor</frontName>
                </args>
            </epicor>
        </routers>
        <events>
            <controller_action_predispatch>
                <observers>
                    <epicor_common_model_observer>
                        <class>Epicor_Common_Model_Observer</class>
                        <method>checkUserRights</method>
                    </epicor_common_model_observer>                   
                    <epicor_common_model_observer_redirect>
                        <class>Epicor_Common_Model_Observer</class>
                        <method>checkRedirectArray</method>
                    </epicor_common_model_observer_redirect>                  
                </observers>
            </controller_action_predispatch>    
            <controller_action_layout_render_before_catalog_category_view>
                <observers>
                    <home_page_redirect_check>
                        <class>Epicor_Common_Model_Observer</class>
                        <method>homePageRedirectCheck</method>
                    </home_page_redirect_check>
                </observers>
            </controller_action_layout_render_before_catalog_category_view>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <epicor_common_model_observer_setjqueryversion>
                        <class>Epicor_Common_Model_Observer</class>
                        <method>setJqueryVersion</method>
                    </epicor_common_model_observer_setjqueryversion>
                </observers>                     
            </core_block_abstract_prepare_layout_after>
        </events>
    </frontend>    
    <adminhtml>  
        <layout>
            <updates>
                <epicor_common>
                    <file>epicor_common.xml</file>
                </epicor_common>
            </updates>
        </layout>
        <cms>
            <browser>
                <extensions>
                    <allowed>
                        <jpg>1</jpg>
                        <jpeg>1</jpeg>
                        <png>1</png>
                        <gif>1</gif>
                        <pdf>1</pdf>
                        <doc>1</doc>
                        <docx>1</docx>
                        <mp3>1</mp3>
                        <mp4>1</mp4>
                        <avi>1</avi>
                        <zip>1</zip>
                        <csv>1</csv>
                        <gz>1</gz>
                        <odf>1</odf>
                        <xml>1</xml>
                        <xls>1</xls>
                        <xlsx>1</xlsx>
                    </allowed>
                </extensions>
            </browser>
        </cms>
        <erps>
            <xvp>xVP</xvp>
            <bistrack>Bistrack</bistrack>
            <e10>e10</e10>
            <p21>p21</p21>
            <tropos>Tropos</tropos>
            <eclipse>Eclipse</eclipse>
            <qds>QDS</qds>
            <xeres>Xeres</xeres>
            <opal>Opal</opal>
            <kopen>KOpen</kopen>
            <concerto>Concerto</concerto>
            <control>Control</control>
        </erps>
        <events>
            <adminhtml_customer_prepare_save>
                <observers>
                    <epicor_common_model_observer>
                        <class>Epicor_Common_Model_Observer</class>
                        <method>saveCustomer</method>
                    </epicor_common_model_observer>
                </observers>
            </adminhtml_customer_prepare_save>
            <controller_action_predispatch>
                <observers>
                    <auth>
                        <class>Epicor_Common_Model_Observer</class>
                        <method>actionPreDispatchAdmin</method>
                    </auth>
                </observers>
            </controller_action_predispatch>
            <sales_prepare_amount_expression>
                <observers>
                    <downloader_version_check>
                        <class>Epicor_Common_Model_Observer</class>
                        <method>checkMissingTableColumnAfterUpgrade</method>
                    </downloader_version_check>
                </observers>
            </sales_prepare_amount_expression>   
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <epicor_common before="Mage_Adminhtml">Epicor_Common_Adminhtml</epicor_common>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <ecc_version_info>
            <Epicor_Common>
                <version>1.0.9.6</version>
                <released>2018-07-26</released>
            </Epicor_Common>
        </ecc_version_info>
        <epicor_comm>
            <class>Epicor_Comm_Model</class>
            <resourceModel>epicor_comm_resource</resourceModel>
        </epicor_comm>
        <helpers>
            <epicor_common>
                <class>Epicor_Common_Helper</class>
            </epicor_common>
        </helpers>
        <blocks>
            <catalog>
                <rewrite>
                    <navigation>Epicor_Common_Block_Catalog_Navigation</navigation>
                    <product_price>Epicor_Common_Block_Catalog_Product_Price</product_price>
                </rewrite>
            </catalog>
            <customer>
                <rewrite>
                    <account_navigation>Epicor_Common_Block_Customer_Account_Navigation</account_navigation>
                </rewrite>
            </customer>
            <wishlist>
                <rewrite>
                    <links>Epicor_Common_Block_Template_Links_Wishlist</links>
                </rewrite>
            </wishlist>
            <page>
                <rewrite>
                    <template_links>Epicor_Common_Block_Template_Links</template_links>
                    <html_topmenu>Epicor_Common_Block_Page_Html_Topmenu</html_topmenu>
                    <html_topmenu_renderer>Epicor_Common_Block_Page_Html_Topmenu_Renderer</html_topmenu_renderer>
                    <html_footer>Epicor_Common_Block_Page_Html_Footer</html_footer>
                </rewrite>
            </page>
            <flexitheme>
                <rewrite>
                    <frontend_template_quicklinks>Epicor_Common_Block_Template_Quicklinks</frontend_template_quicklinks>
                </rewrite>
            </flexitheme>
            <epicor_common>
                <class>Epicor_Common_Block</class>
            </epicor_common>
            <sales>
                <rewrite>
                    <order_history>Epicor_Common_Block_Order_History</order_history>
                    <order_recent>Epicor_Common_Block_Order_Recent</order_recent>
                    <order_info_buttons>Epicor_Common_Block_Order_Info_Buttons</order_info_buttons>
                </rewrite>
            </sales>
            <adminhtml>
                <rewrite>
                    <widget_grid_massaction_item_additional_default>Epicor_Common_Block_Adminhtml_Widget_Grid_Massaction_Item_Additional_Default</widget_grid_massaction_item_additional_default>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <epicor_common>
                <class>Epicor_Common_Model</class>
                <resourceModel>epicor_common_resource</resourceModel>
            </epicor_common>
            <epicor_common_resource>
                <class>Epicor_Common_Model_Resource</class>
                <entities>
                    <erp_mapping_language>
                        <table>epicor_common_erp_mapping_language</table>
                    </erp_mapping_language>
                    <access_right>
                        <table>epicor_common_access_right</table>
                    </access_right>
                    <access_group>
                        <table>epicor_common_access_group</table>
                    </access_group>
                    <access_group_right>
                        <table>epicor_common_access_group_right</table>
                    </access_group_right>
                    <access_right_element>
                        <table>epicor_common_access_right_element</table>
                    </access_right_element>   
                    <access_group_customer>
                        <table>epicor_common_access_group_customer</table>
                    </access_group_customer>
                    <access_element>
                        <table>epicor_common_access_element</table>
                    </access_element>
                    <file>
                        <table>epicor_common_file</table>
                    </file>
                </entities>
            </epicor_common_resource>
            <core>
                <rewrite>
                    <layout>Epicor_Common_Model_Layout</layout>
                </rewrite>
            </core>
            <adminhtml>
                <rewrite>
                    <system_config_backend_baseurl>Epicor_Common_Model_System_Config_Backend_Baseurl</system_config_backend_baseurl>
                    <system_config_backend_secure>Epicor_Common_Model_System_Config_Backend_Secure</system_config_backend_secure>
                </rewrite>
            </adminhtml>
            <xmlconnect>
                <rewrite>
                    <adminhtml_system_config_backend_baseurl>Epicor_Common_Model_System_Config_Backend_Securebaseurl</adminhtml_system_config_backend_baseurl>
                </rewrite>
            </xmlconnect>
        </models>
        <cache>
            <types>
                <message module="epicor_common" translate="label description">
                    <label>MSQ Cache</label>
                    <description>Contains data relating to MSQ</description>
                    <tags>MESSAGE</tags>
                </message>
                <access module="epicor_common" translate="label description">
                    <label>Access Rights Cache</label>
                    <description>Contains data relating to access rights</description>
                    <tags>ACCESS</tags>
                </access>
            </types>
        </cache>
        <resources>
            <epicor_common_setup>
                <setup>
                    <module>Epicor_Common</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </epicor_common_setup>
        </resources>
        <events>
            <controller_action_postdispatch>
                <observers>
                    <epicor_common_model_observer>
                        <class>Epicor_Common_Model_Observer</class>
                        <method>postDispatchActions</method>
                    </epicor_common_model_observer>
                </observers>
            </controller_action_postdispatch>           
            <catalog_product_save_before>
                <observers>
                    <catalog_navigation_cache>
                        <class>Epicor_Common_Model_Observer</class>
                        <method>productClearCatalogNavigationCache</method>
                    </catalog_navigation_cache>
                </observers>
            </catalog_product_save_before>           
            <catalog_category_save_after>
                <observers>
                    <catalog_navigation_cache>
                        <class>Epicor_Common_Model_Observer</class>
                        <method>categoryClearCatalogNavigationCache</method>
                    </catalog_navigation_cache>
                </observers>
            </catalog_category_save_after>      
            <page_block_html_topmenu_gethtml_before>
                <observers>
                    <ecc_auto_hide_check>
                        <class>Epicor_Common_Model_Observer</class>
                        <method>categoryAutoHideTopmenu</method>
                    </ecc_auto_hide_check>
                </observers>
            </page_block_html_topmenu_gethtml_before>          
        </events>  
        <ecc_account_selector_types>
            <guest>
                <label>Guest</label>
                <priority>0</priority>
            </guest>
        </ecc_account_selector_types>     
    </global>
    <default>
        <Epicor_Comm>
            <licensing>
                <type>ioncube</type>
            </licensing>
            <ie_compatability>
                <edge>1</edge>
            </ie_compatability>
            <assets>
                <suffixes>jpeg, jpg, gif, png</suffixes>
            </assets>
        </Epicor_Comm>
        <epicor_common>
            <accessrights>
                <active>0</active>
                <cache_lifetime>86400</cache_lifetime>
                <guest></guest>
                <b2c_default></b2c_default>
                <customer_default></customer_default>
                <supplier_default></supplier_default>
            </accessrights>
            <tier_prices>
                <precision>2</precision>
            </tier_prices>
            <catalog_navigation>
                <auto_hide>0</auto_hide>
            </catalog_navigation>
            <login>
                <landing_page>last_page</landing_page>
            </login>
            <files>
                <base_dir>ecc_uploads</base_dir>
            </files>
        </epicor_common>
        <carriers>
            <dhlint>
                <content_type>D</content_type>
            </dhlint>
        </carriers>   
        <epicor_product_config>            
            <non_erp_products>                
                <checkout_text>Checkout is not currently available. Do you wish us to contact you about this order?</checkout_text>     
                <cart_text>Checkout is not available, cart totals include estimated prices, tax and shipping</cart_text>     
                <rfq_text>Quote submission is not currently available. Do you wish us to contact you about this quote?</rfq_text>
            </non_erp_products>
        </epicor_product_config>
    </default>
    <crontab>        
        <jobs>            
            <epicor_module_versions>
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>epicor_common/cron::packageCheck</model>
                </run>
            </epicor_module_versions>
            <epicor_image_cleanup>
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>epicor_common/cron::imageCleanup</model>
                </run>
            </epicor_image_cleanup>
        </jobs>
    </crontab>
</config>