/* 
    Document   : style
    Created on : 09-Sep-2013, 10:51:16
    Author     : Paul.Ketelle
    Description:
        Purpose of the stylesheet follows.
*/

#customerconnect_order_parts_table .filter {
    display:none;
}

.grid .shipments {
    display:hidden;
    background:#dadfe0;
    padding-left:100px;
}


#ewaWrapper a {
    float:right;
    display:inline;
}

#update-billing-address-form, 
#update-shipping-address-form,
#update-contact-form
{
    overflow-y:auto;
}

ul.update-billing-form-list li,
ul.update-shipping-form-list li
{
    list-style:none;
}
ul.update-billing-form-list em,
ul.update-shipping-form-list em
{
    color:red;
}
.update-billing-form-list li input,
.update-shipping-form-list li input
{
    width:250px;
}
#ship-label{font-weight:bold;}

#billing_address_update {
    margin-top:-10px;
}

.grid td.shipping-row {
    padding-left:100px;
    background-color:#eee;
}

td.shipping-row .shipping-table tr {
    background-color:#fff;
}

td.shipping-row .shipping-table tr.even,
tr.even td.shipping-row .shipping-table tr {
    background-color: #f6f6f6;
}

tr.even td.shipping-row .shipping-table tr.even {
    background-color:#fff;
}

td.shipping-row .shipping-table thead tr.headings {
    background:url("../../common/css/images/sort_row_bg.gif") repeat-x scroll 0 50% transparent;
}

.view_all {
    float: right;
    position: relative;
    top: -35px;
}

#shipping-form-fieldset-list,
#contacts-form-fieldset-list
{     
    padding-right:0;
    margin-top:0;
}

#window-overlay .box-account{
    max-width:400px;
    left:0;
    margin:0;
}
p.pop-up{
    /*width:95% !important;*/
    position: absolute;
    right: 10px;
}

#manage_permissions h2{
    margin-left:0;
    margin-top:5px;
}
body[class *='customerconnect-'] td.export{
    padding-top:5px;
}


a.reorder, a.return {
    float:right;
}

a.return {
    margin: 0 5px;
}

#rfq_update .address-select {
    max-width:100%;
}

#line-add .la_field {
    display:block;
    float:left;
    width:20%;
    text-align: right;
}

#line-add .la_field.la_packsize_field {
    text-align: left;
    padding-left:5px;
}

#line-add #la_custom_part {
    width:12%;
}

#line-add .la_row label {
    margin: 0 5px;
}

#line-add .la_row {
    padding:5px;
    clear:both;
    height:20px;
    border-top:1px solid #e4e4e4;
}

#line-add .buttons-set {
    margin-top:5px;
    clear:both;
}

#line-add .la_field input.input-text {
    width:60%;
}

.lineadd-autocomplete {
    left: 40px;
    top: 22px;
    z-index: 999;
}

.lineadd-autocomplete ul {
    background-color: #fff;
    border: 1px solid #5C7989;
}

.lineadd-autocomplete li {
    border-bottom: 1px solid #bbb;
    cursor: pointer;
    padding: 2px 8px 1px;
    text-align: left;
}

.lineadd-autocomplete li .amount {
    float: right;
    font-weight: bold;
}

.lineadd-autocomplete li.odd {
    background-color: #FFFEFB;
}

.lineadd-autocomplete li.selected {
    background-color: #F7E8DD;
}
.lineadd-form-list {
    padding: 10px 0;
}
.lineadd-form-list .required em {
    color:#f00;
    margin-right:2px;
}

#line-add p.required {
    color:#f00;
    float:left;
}

#line-add .target {
    margin: 1%;
}

#line-add .target span {
    font-weight:bold;
    clear:both;
    display:block;
}

#line-add .target label {
    margin: 5px 0;
}

#line-add .target input{
    margin: 7px 3px;
    clear:left;
}

#line-add .target label,
#line-add .target input{
    float:left;
}

#window-overlay .box-account.iframe{
    max-width:700px;
}

#window-overlay.rfq #window-overlay-content {
    max-width:700px;
}

#linesearch-iframe {
    width:100%;
    height:auto;
    margin-top:15px;
    border:0;
    margin:0;
}

#rfq_update #note_text {
    width:100%;
    height:100px;
}

.rfq_checkout_link  {
    text-decoration: none;
}

.info-list .validation-advice {
    float: left;
    margin: 10px 0 10px 125px;
    clear:left;
}

.col-full #required_date {
    width:10%;
}

#line-add {
    margin:10px 0;
}

#lineadd-add {
    clear: left;
    display: block;
}
.customerconnect-rfqs-new .required span{
    color: #eb340a;
    float: right;
    font-size: 11px;
}
#erpfilter_link{
    float:right;
    padding:0 15px;
    margin-bottom:20px;
}
#erpfilter_link a{text-decoration: none;}

#customerconnect_order_parts_table td span.price,
#customerconnect_invoices_lines_table td span.price,
#rfq_lines_table td span.price{
    display: block;
}

#customerconnect_5recent_orders_table td:nth-child(6),
#customerconnect_5recent_invoices_table td:nth-child(6),
#customerconnect_5recent_invoices_table td:nth-child(7),
#customerconnect_order_parts_table td span.price,
#customerconnect_invoices_lines_table td span.price,
#rfq_lines_table td span.price,
.lines_price_display,
.lines_line_value_display{
    text-align: right;
}


#customerconnect_invoices_table tr th:nth-of-type(4) {
    display: none;
}

#customerconnect_invoices_table tr td:nth-of-type(4) {
    display: none;
}

.customerconnect-invoices-details .box-info ul.info-list.col-count-3 li:nth-of-type(7)  {
    display: none;
}
