.htaccess.sample
.htaccess
.modgit/
.modman/
.env
.htpasswd
*.lic
app/etc/local.xml
downloader/.cache
downloader/cache.cfg
downloader/connect.cfg
includes/
media/*
Homestead.yaml
includes/
media/*
temp/
Vagrantfile
var/*
vendor/
*.swp
*.lic
assets/*
mediamvp/*
*.pyc
*.log
shell/pyscripts/sync/config.py
.idea/
ECC.txt
media_bak/*
