<?xml version="1.0"?>
<config>
    <modules>
        <Epicor_Search>
            <version>1.0.8.1.0</version>
        </Epicor_Search>
    </modules>
    <global>
        <ecc_version_info>
            <Epicor_Search>
                <version>1.0.9.6</version>
                <released>2018-07-26</released>
            </Epicor_Search>
        </ecc_version_info>
        <blocks>
            <search>
                <class>Epicor_Search_Block</class>
            </search>
        </blocks>
        <models>
            <search>
                <class>Epicor_Search_Model</class>
            </search>
            <catalogsearch_mysql4>
                <rewrite>
                    <fulltext>Epicor_Search_Model_Mysql4_Fulltext</fulltext>
                </rewrite>
            </catalogsearch_mysql4>
            <catalogsearch>
                <rewrite>
                    <indexer_fulltext>Epicor_Search_Model_Indexer_Fulltext</indexer_fulltext>
                </rewrite>
            </catalogsearch>
        </models>
        <helpers>
            <search>
                <class>Epicor_Search_Helper</class>
            </search>
            <catalogsearch>
                <rewrite>
                    <data>Epicor_Search_Helper_Data</data>
                </rewrite>
            </catalogsearch>
        </helpers>
        <resources>
            <search_setup>
                <setup>
                    <module>Epicor_Search</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </search_setup>
        </resources>
    </global>
    <adminhtml>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <product_attribute_grid_weighting_column>
                        <type>model</type>
                        <class>search/observer</class>
                        <method>addWeightingColumnToProductAttributeGrid</method>
                    </product_attribute_grid_weighting_column>
                </observers>
            </core_block_abstract_to_html_before>
            <adminhtml_catalog_product_attribute_edit_prepare_form>
                <observers>
                    <product_attribute_form_weighting_field>
                        <type>model</type>
                        <class>search/observer</class>
                        <method>addWeightingFieldToProductAttributeForm</method>
                    </product_attribute_form_weighting_field>
                    <product_attribute_created_by>
                        <type>model</type>
                        <class>search/observer</class>
                        <method>setCreatedBy</method>
                    </product_attribute_created_by>
                </observers>
            </adminhtml_catalog_product_attribute_edit_prepare_form>
        </events>
    </adminhtml>
    <default>
        <epicor_search>
            <general>
                <sku_search_enabled>1</sku_search_enabled>
                <sku_search_weight>1000</sku_search_weight>
                <sku_search_weight_partial>999</sku_search_weight_partial>
                <title_search_enabled>1</title_search_enabled>
                <title_search_weight>100</title_search_weight>
                <short_description_search_enabled>0</short_description_search_enabled>
                <short_description_search_weight>10</short_description_search_weight>
                <description_search_enabled>0</description_search_enabled>
                <description_search_weight>1</description_search_weight>
                <and_or>1</and_or>
                <wildcard_prefix>0</wildcard_prefix>
                <wildcard_suffix>0</wildcard_suffix>
                <separators><![CDATA[!"#%$&'()*+,./:;<=>?@[\]^`{|}~]]></separators>
            </general>
        </epicor_search>
    </default>
</config>