<?xml version="1.0"?>
<config>
    <modules>
        <Epicor_B2b>
            <version>1.0.6.0.0</version>
        </Epicor_B2b>
    </modules>
    
    <frontend>
        <secure_url>
            <b2b>/b2b/</b2b>
        </secure_url>
        <routers>
            <b2b>
                <use>standard</use>
                <args>
                    <module>Epicor_B2b</module>
                    <frontName>b2b</frontName>
                </args>
            </b2b>
        </routers>
        <layout>
            <updates>
                <b2b module="b2b">
                    <file>b2b.xml</file>
                </b2b>
            </updates>
        </layout>
        <events>
            <controller_action_predispatch_b2b_portal_registerpost>
                <observers>
                    <b2b_reg_captcha>
                        <class>Epicor_B2b_Model_Observer</class>
                        <method>checkB2bUserCreate</method>
                    </b2b_reg_captcha>
                </observers>
            </controller_action_predispatch_b2b_portal_registerpost>
            <epicor_message_cus>
                <observers>
                    <b2b_model_observer>
                        <class>Epicor_B2b_Model_Observer</class>
                        <method>customerChanged</method>
                    </b2b_model_observer>
                </observers>
            </epicor_message_cus>
            <epicor_common_check_user_rights_before>
                <observers>
                    <b2b_model_observer>
                        <class>Epicor_B2b_Model_Observer</class>
                        <method>checkAccessRights</method>
                    </b2b_model_observer>
                </observers>
            </epicor_common_check_user_rights_before>
            <controller_action_predispatch_customer_account_create>
                <observers>
                    <b2b_model_observer>
                        <type>singleton</type>   
                        <class>Epicor_B2b_Model_Observer</class>
                        <method>checkRegistrationEnabled</method>
                    </b2b_model_observer>
                </observers>
            </controller_action_predispatch_customer_account_create> 
            <controller_action_predispatch_b2b_portal_register>
                <observers>
                    <b2b_model_observer>
                        <type>singleton</type>   
                        <class>Epicor_B2b_Model_Observer</class>
                        <method>checkRegistrationEnabledForBusiness</method>
                    </b2b_model_observer>
                </observers>
            </controller_action_predispatch_b2b_portal_register>            
        </events>
    </frontend>
    <global>
        <ecc_version_info>
            <Epicor_B2b>
                <version>1.0.9.6</version>
                <released>2018-07-26</released>
            </Epicor_B2b>
        </ecc_version_info>
        <models>
            <b2b>
                <class>Epicor_B2b_Model</class>       
            </b2b>
        </models>
        <template>
            <email>
                <epicor_b2b_registration_reg_email_template>
                    <label>B2B Registration Request</label>
                    <file>b2b/portal_registration_request.html</file>
                    <type>html</type>
                </epicor_b2b_registration_reg_email_template>
            </email>
        </template>
        <resources>
            <epicor_b2b_setup>
                <setup>
                    <module>Epicor_B2b</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </epicor_b2b_setup>
        </resources>
        <blocks>
            <b2b>
                <class>Epicor_B2b_Block</class>
            </b2b>
            <epicor_comm> 
                <rewrite> 
                    <adminhtml_customer_erpaccount_grid>Epicor_B2b_Block_Adminhtml_Customer_Erpaccount_Grid</adminhtml_customer_erpaccount_grid> 
                </rewrite> 
            </epicor_comm>
        </blocks>
        <helpers>
            <b2b>
                <class>Epicor_B2b_Helper</class>
            </b2b>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                                <args>
                                        <modules>
                                                <b2b before="Mage_Adminhtml">Epicor_B2b_Adminhtml</b2b>
                                        </modules>
                                </args>
                        </adminhtml>
        </routers>
    </admin>
    <default>
        <captcha>
            <frontend>
                <areas>
                    <b2b_create>
                        <label>Business Registration</label>
                    </b2b_create>
                </areas>
            </frontend>
        </captcha>
        <customer>
            <captcha>
                <always_for>
                    <b2b_create>1</b2b_create>
                </always_for>
            </captcha>
        </customer>
        <Epicor>
            <stores>
                <english>1</english>
                <german>2</german>
                <french>3</french>
            </stores>
        </Epicor>
        <epicor_comm_enabled_messages>
            <som_request>
                <active>1</active>
                <allowed_order_statuses></allowed_order_statuses>
                <allowed_line_statuses></allowed_line_statuses>
                <allowed_actions>Del</allowed_actions>
                <sendalllines>0</sendalllines>
                <sendemailnotification>1</sendemailnotification>
            </som_request>
        </epicor_comm_enabled_messages>
        <epicor_b2b>
            <registration>
                <reg_portal>0</reg_portal>
                <show_reg_portal>1</show_reg_portal>
                <show_reg_portaltype>1</show_reg_portaltype>
                <reg_customer>1</reg_customer>
                <reg_customer>0</reg_customer>
                <reg_options>email_request</reg_options>
                <reg_email_account>general</reg_email_account>
                <reg_email_template>epicor_b2b_registration_reg_email_template</reg_email_template>
                <reg_show_password>1</reg_show_password>
                <show_address_fields>0</show_address_fields>
                <registered_address>1</registered_address>
                <registered_address_phone_fax>1</registered_address_phone_fax>
                <invoice_address>1</invoice_address>
                <invoice_address_phone_fax>1</invoice_address_phone_fax>
                <delivery_address>1</delivery_address>
                <delivery_address_phone_fax>1</delivery_address_phone_fax>
                <success_redirection></success_redirection>
                <success_message>Account Created Successfully</success_message>
            </registration>
            <customer_account_summary>
                <show_name>1</show_name>
                <show_code>1</show_code>
                <show_credit_limit>1</show_credit_limit>
                <show_balance>1</show_balance>
            </customer_account_summary>
        </epicor_b2b>
        <epicor_search>
            <general>
                <cpn_search_enabled>1</cpn_search_enabled>
                <cpn_search_weight>4</cpn_search_weight>
                <cpn_search_weight_partial>4</cpn_search_weight_partial>>
            </general>
        </epicor_search>
    </default>
    <adminhtml>
        <layout>
            <updates>
                <b2b module="b2b">
                    <file>b2b.xml</file>
                </b2b>
            </updates>
        </layout>
        <events>
            <epicor_common_access_rights_admin_save>
                <observers>
                    <b2b_model_observer>
                        <class>Epicor_B2b_Model_Observer</class>
                        <method>saveAdminAccessRights</method>
                    </b2b_model_observer>
                </observers>
            </epicor_common_access_rights_admin_save>
        </events>
    </adminhtml>
</config>