<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Epicor_BranchPickup>
            <version>0.1.2</version>
        </Epicor_BranchPickup>
    </modules>
    <frontend>
        <routers>
            <epicor_branchpickup>
                <use>standard</use>
                <args>
                    <module>Epicor_BranchPickup</module>
                    <frontName>branchpickup</frontName>
                </args>
            </epicor_branchpickup>
        </routers>
        <events>
            <core_block_abstract_to_html_before>
                <!-- Insert Shipping Block into checkout/Shipping -->
                <observers>
                    <epicor_insert_branchpickup_shipping>
                        <type>singleton</type>
                        <class>Epicor_BranchPickup_Model_Observer</class>
                        <method>insertShippingBlock</method>
                    </epicor_insert_branchpickup_shipping>
                </observers>
            </core_block_abstract_to_html_before>
            <core_block_abstract_to_html_before>
                <!-- Insert Shipping Method Block into checkout/Shipping Method -->
                <observers>
                    <epicor_insert_branchpickup_shippingmethod>
                        <type>singleton</type>
                        <class>Epicor_BranchPickup_Model_Observer</class>
                        <method>insertShippingMethodBlock</method>
                    </epicor_insert_branchpickup_shippingmethod>
                </observers>
            </core_block_abstract_to_html_before>
            <customer_login>
                <!-- Force the user to select the Branch Select Page After Login -->
                <observers>
                    <epicor_branchpickup_frontend_branchpickup_forcelogin>
                        <type>singleton</type>
                        <class>Epicor_BranchPickup_Model_Observer_Frontend_BranchPickup</class>
                        <method>branchForceLogin</method>
                    </epicor_branchpickup_frontend_branchpickup_forcelogin>
                </observers>
            </customer_login>
            <core_block_abstract_to_html_before>
                <!--  Hide/the Account Menu Link -->
                <observers>
                    <epicor_branchpickup_model_block>
                        <type>singleton</type>
                        <class>Epicor_BranchPickup_Model_Observer</class>
                        <method>modifyBlockHtmlBefore</method>
                    </epicor_branchpickup_model_block>
                </observers>
            </core_block_abstract_to_html_before>
            <controller_action_predispatch_checkout_cart_add>
                <!--  Check whether the product belongs specific pickup location -->
                <observers>
                    <epicor_branchpickup_cart_add>
                        <class>Epicor_BranchPickup_Model_Observer</class>
                        <method>logCartAdd</method>
                    </epicor_branchpickup_cart_add>
                </observers>
            </controller_action_predispatch_checkout_cart_add>
            <customer_logout>
                <!--  Clear Branch pickup session -->
                <observers>
                    <epicor_branchpickup_frontend_clearSession>
                        <type>singleton</type>
                        <class>Epicor_BranchPickup_Model_Observer_Frontend_BranchPickup</class>
                        <method>logoutClearSession</method>
                    </epicor_branchpickup_frontend_clearSession>
                </observers>
            </customer_logout>
            <epicor_comm_masquerade_end>
                <!--  Clear Branch Pickup, If the user ends Masquerade  -->
                <observers>
                    <salesRepEndMasqueradeBranchPichup>
                        <class>Epicor_BranchPickup_Model_Observer_Frontend_BranchPickup</class>
                        <method>endMasqueradeBranchPickup</method>
                    </salesRepEndMasqueradeBranchPichup>
                </observers>
            </epicor_comm_masquerade_end>
            <checkout_controller_onepage_save_shipping_method>
                <!--  Set Shipping session after saving shipping method  -->
                <observers>
                    <saveShippingBranchPickup>
                        <class>Epicor_BranchPickup_Model_Observer_Frontend_BranchPickup</class>
                        <method>setShippingSession</method>
                    </saveShippingBranchPickup>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
            <gor_request_convert2xml_before>
                <!--  Generate GOR Request for ORDERFOR  -->
                <observers>
                    <epicorBranpickupSetbranch>
                        <type>singleton</type>
                        <class>Epicor_BranchPickup_Model_Observer</class>
                        <method>setOrderFor</method>
                    </epicorBranpickupSetbranch>
                </observers>
            </gor_request_convert2xml_before>
            <bsv_request_convert2xml_before>
                <!--  Generate BSV Request (Orderfor/Orderby/storecollect)  -->
                <observers>
                    <updateBsvRequestForProducts>
                        <class>Epicor_BranchPickup_Model_Observer_Frontend_BranchPickup</class>
                        <method>updateBsvRequestProducts</method>
                    </updateBsvRequestForProducts>
                </observers>
            </bsv_request_convert2xml_before>
            <controller_action_layout_load_before>
                <!-- Remove Location Picker after selecting a branch pickup option  -->
                <observers>
                    <hideLocationpicker>
                        <class>Epicor_BranchPickup_Model_Observer_Frontend_BranchPickup</class>
                        <method>removeLocationPicker</method>
                    </hideLocationpicker>
                </observers>
            </controller_action_layout_load_before>
            <core_block_abstract_prepare_layout_before>
                <!-- Add javascript based on branch pickup condition in checkout/onepage  -->
                <observers>
                    <branchpickup_loadjs>
                        <class>Epicor_BranchPickup_Model_Observer</class>
                        <method>prepareLayoutBefore</method>
                    </branchpickup_loadjs>
                </observers>
            </core_block_abstract_prepare_layout_before>
            <checkout_submit_all_after>
                <observers>
                    <branchpickup_customer_save_default_guest>
                        <type>model</type>
                        <class>Epicor_BranchPickup_Model_Observer_Frontend_BranchPickup</class>
                        <method>getNewCustomer</method>
                    </branchpickup_customer_save_default_guest>
                </observers>                
            </checkout_submit_all_after>  
            <epicor_lists_contract_select_after>
                <observers>
                    <epicor_lists_frontend_contracts_contractSelect_afterbranchpickup>
                        <type>singleton</type>
                        <class>Epicor_BranchPickup_Model_Observer_Frontend_BranchPickup</class>
                        <method>checkBranchSelected</method>
                    </epicor_lists_frontend_contracts_contractSelect_afterbranchpickup>
                </observers>
            </epicor_lists_contract_select_after>      
            <catalog_product_collection_load_before>
                <observers>
                    <epicor_branchpickup_filter_products>
                        <type>singleton</type>                          
                        <class>Epicor_BranchPickup_Model_Observer_Frontend_BranchPickup</class>
                        <method>filterProducts</method>
                    </epicor_branchpickup_filter_products>
                </observers>
            </catalog_product_collection_load_before>   
        </events>
        <blocks>
            <epicor_branchpickup>
                <class>Epicor_BranchPickup_Block</class>
            </epicor_branchpickup>
        </blocks>
        <layout>
            <updates>
                <epicor_branchpickup>
                    <file>epicor/branchpickup.xml</file>
                </epicor_branchpickup>
            </updates>
        </layout>
    </frontend>
    <global>
        <ecc_version_info>
            <Epicor_BranchPickup>
                <version>1.0.9.6</version>
                <released>2018-07-26</released>
            </Epicor_BranchPickup>
        </ecc_version_info>
        <helpers>
            <epicor_branchpickup>
                <class>Epicor_BranchPickup_Helper</class>
            </epicor_branchpickup>
        </helpers>
        <blocks>
            <epicor_branchpickup>
                <class>Epicor_BranchPickup_Block</class>
            </epicor_branchpickup>
            <flexitheme>
                <rewrite>
                    <frontend_template_quicklinks>Epicor_BranchPickup_Block_Template_Quicklinks</frontend_template_quicklinks>
                </rewrite>
            </flexitheme>
        </blocks>
        <models>
            <epicor_branchpickup>
                <class>Epicor_BranchPickup_Model</class>
                <resourceModel>branchpickup_mysql4</resourceModel>
            </epicor_branchpickup>
        </models>
        <resources>
            <epicor_branchpickup_setup>
                <setup>
                    <module>Epicor_BranchPickup</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </epicor_branchpickup_setup>
        </resources>
    </global>
    <default>
        <carriers>
            <epicor_branchpickup>
                <active>0</active>
                <model>Epicor_BranchPickup_Model_Carrier_Epicorbranchpickup</model>
                <name>Branch Pickup</name>
                <title>Branch Pickup</title>
                <description>Branch Pickup</description>
                <sallowspecific>0</sallowspecific>
                <specificcountry>0</specificcountry>
                <sort_order>1</sort_order>
            </epicor_branchpickup>
        </carriers>
        <customerconnect_enabled_messages>
            <CUCO_mapping>
                <cuco_branch_pickup>1</cuco_branch_pickup>
            </CUCO_mapping>
        </customerconnect_enabled_messages>
        <epicor_comm_field_mapping>
            <cus_mapping>
                <cus_branch_pickup>1</cus_branch_pickup>
            </cus_mapping>
        </epicor_comm_field_mapping>
        <epicor_comm_locations>
            <global>
                <redirecttobranchpickup>1</redirecttobranchpickup>
                <showlocationpicker>1</showlocationpicker>
                <showselectedlocation>0</showselectedlocation>
		<showbranchpickupblock>0</showbranchpickupblock>
                <style>location_view</style>
            </global>
        </epicor_comm_locations>
    </default>
</config>