<?xml version="1.0"?>
<config>
    <sections>
        <carriers translate="label" module="branchpickup">
            <groups>
                <epicor_branchpickup translate="label">
                    <label>Branch Pickup</label>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <name translate="label">
                            <label>Method Name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </name>
                        <description translate="label">
                            <label>Description</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>76</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </description>
                        <sallowspecific translate="label">
                            <label>Available for specific countries only</label>
                            <frontend_type>select</frontend_type>
                            <frontend_class>shipping-applicable-country</frontend_class>
                            <source_model>adminhtml/system_config_source_shipping_allspecificcountries</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sallowspecific>
                        <specificcountry translate="label">
                            <label>Ship to Specific Countries</label>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>31</sort_order>
                            <source_model>adminhtml/system_config_source_country</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <can_be_empty>1</can_be_empty>
                        </specificcountry>
                        <sort_order translate="label">
                            <label>Sort Order</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>100</sort_order>
                        </sort_order>
                    </fields>
                </epicor_branchpickup>
            </groups>
        </carriers>
        <epicor_comm_locations>
            <groups>
                <global>
                    <fields>
                        <isbranchpickupallowed>
                            <label>Branch Pickup</label>
                            <frontend_type>select</frontend_type>
                            <source_model>epicor_branchpickup/eav_attribute_data_locationoptions</source_model>
                            <sort_order>52</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </isbranchpickupallowed>
                        <redirecttobranchpickup>
                            <label>Redirect to Branch Select Page on Login</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>53</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                                <isbranchpickupallowed>1</isbranchpickupallowed>
                            </depends>
                        </redirecttobranchpickup>
                        <showbranchpickupblock>
                            <label>Show Branch Pickup Message/Block</label>
                            <frontend_type>select</frontend_type>
                            <source_model>epicor_branchpickup/eav_attribute_data_Showblockoptions</source_model>
                            <sort_order>53</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <isbranchpickupallowed>1</isbranchpickupallowed>
                                <enabled>1</enabled>
                            </depends>
                        </showbranchpickupblock>
                    </fields>
                </global>
            </groups>
        </epicor_comm_locations>
        <epicor_comm_field_mapping translate="label" module="epicor_comm">
            <groups>
                <cus_mapping translate="label" after="cus_override_heading">
                    <fields>
                        <cus_branch_pickup>
                            <label>Branch Pickup Allowed</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>952</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </cus_branch_pickup>
                    </fields>
                </cus_mapping>
            </groups>
        </epicor_comm_field_mapping>
        <customerconnect_enabled_messages translate="label" module="epicor_comm">
            <groups>
                <CUCO_mapping translate="label" after="cus_override_heading">
                    <fields>
                        <cuco_branch_pickup>
                            <label>Branch Pickup Allowed</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </cuco_branch_pickup>
                    </fields>
                </CUCO_mapping>
            </groups>
        </customerconnect_enabled_messages>
    </sections>
</config>