<?xml version="1.0"?>
<config>
    <modules>
        <DotNetIT_ContactTest>
            <version>0.0.1</version>
        </DotNetIT_ContactTest>
    </modules>
    <events>
            <CUOS_request_processresponse_before>
                <observers>
                    <dotnetit_ContactTest_model_observers>
                        <type>singleton</type>
                        <class>DotNetIT_ContactTest_Model_Observer</class>
                        <method>testMethod</method>
                    </dotnetit_ContactTest_model_observers>
                </observers>
            </CUOS_request_processresponse_before>
        </events>
    <global>
        <blocks>
            <ContactTest>
                <class>DotNetIT_ContactTest_Block</class>
            </ContactTest>
        </blocks>
        <helpers>
            <ContactTest>
                <class>DotNetIT_ContactTest_Helper</class>
            </ContactTest>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <ContactTest>
                    <file>DotNetITLocal.xml</file>
                </ContactTest>
            </updates>
        </layout>
    </frontend>
</config>