<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Epicor_FlexiTheme>
            <version>1.0.6.0.3</version>
        </Epicor_FlexiTheme>
    </modules>
    <global>
        <ecc_version_info>
            <Epicor_FlexiTheme>
                <version>1.0.9.6</version>
                <released>2018-07-26</released>
            </Epicor_FlexiTheme>
        </ecc_version_info>
        <blocks>
            <flexitheme>
                <class>Epicor_FlexiTheme_Block</class>
            </flexitheme>
        </blocks>
        <models>
            <flexitheme>
                <class>Epicor_FlexiTheme_Model</class>
                <resourceModel>flexitheme_resource</resourceModel>
            </flexitheme>
            <flexitheme_resource>
                <class>Epicor_FlexiTheme_Model_Mysql4</class>
                <entities>
                    <old_theme>
                        <table>solarsoft_flexitheme_theme</table>
                    </old_theme>
                    <theme>
                        <table>epicor_flexitheme_theme</table>
                    </theme>
                    <theme_design>
                        <table>epicor_flexitheme_theme_design</table>
                    </theme_design> 
                    <layout>
                        <table>epicor_flexitheme_layout</table>
                    </layout>          
                    <layout_page>
                        <table>epicor_flexitheme_page</table>
                    </layout_page>        
                    <layout_template>
                        <table>epicor_flexitheme_template</table>
                    </layout_template>     
                    <layout_template_section>
                        <table>epicor_flexitheme_template_section</table>
                    </layout_template_section>   
                    <layout_layout_page>
                        <table>epicor_flexitheme_layout_page</table>
                    </layout_layout_page>           
                    <layout_block>
                        <table>epicor_flexitheme_block</table>
                    </layout_block> 
                    <layout_block_link>
                        <table>epicor_flexitheme_block_link</table>
                    </layout_block_link> 
                    <layout_page_block>
                        <table>epicor_flexitheme_page_block</table>
                    </layout_page_block> 
                    <translation_language>
                        <table>epicor_flexitheme_translation_language</table>
                    </translation_language>   
                     <translation_updates>
                        <table>epicor_flexitheme_translation_updates</table>
                    </translation_updates>  
                    <translation_data>
                        <table>epicor_flexitheme_translation_data</table>
                    </translation_data>            
                </entities>
            </flexitheme_resource>
        </models> 
        <helpers>
            <flexitheme>
                <class>Epicor_FlexiTheme_Helper</class>
            </flexitheme>
        </helpers> 
        <resources>
            <epicor_flexitheme_setup>
                <setup>
                    <module>Epicor_FlexiTheme</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </epicor_flexitheme_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                                <args>
                                        <modules>
                                                <flexitheme before="Mage_Adminhtml">Epicor_FlexiTheme_Adminhtml</flexitheme>
                                        </modules>
                                </args>
                        </adminhtml>
        </routers>
    </admin>
    <frontend>  
        <layout>
            <updates>
                <flexitheme>
                    <file>reset.xml</file>
                </flexitheme>
            </updates>
        </layout> 
    </frontend> 
    <adminhtml>  
        <layout>
            <updates>
                <flexitheme>
                    <file>flexitheme.xml</file>
                </flexitheme>
            </updates>
        </layout>
    </adminhtml>
</config>