<?xml version="1.0"?>
<config>
    <modules>
        <Epicor_Reports>
            <version>1.0.6.0.0</version>
        </Epicor_Reports>
    </modules>
    <global>
        <ecc_version_info>
            <Epicor_Reports>
                <version>1.0.9.6</version>
                <released>2018-07-26</released>
            </Epicor_Reports>
        </ecc_version_info>
        <helpers>
            <epicor_reports>
                <class>Epicor_Reports_Helper</class>
            </epicor_reports>
        </helpers>
        <blocks>
            <epicor_reports>
                <class>Epicor_Reports_Block</class>
            </epicor_reports>
        </blocks>
        <models>
            <epicor_reports>
                <class>Epicor_Reports_Model</class>
                <resourceModel>epicor_reports_resource</resourceModel>
            </epicor_reports>
            <epicor_reports_resource>
                <class>Epicor_Reports_Model_Resource</class>
                <entities>
                    <rawdata>
                        <table>epicor_reports_raw_data</table>
                    </rawdata>
                </entities>
            </epicor_reports_resource>
        </models>
        <resources>
            <epicor_reports_setup>
                <setup>
                    <module>Epicor_Reports</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </epicor_reports_setup>
        </resources>
        <events>
            <log_message_completed>
                <observers>
                    <default_handler>
                        <type>model</type>
                        <class>epicor_reports/observer</class>
                        <method>messagingProcessCall</method>
                    </default_handler>
                </observers>
            </log_message_completed>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <epicor_reports after="Mage_Adminhtml">Epicor_Reports_Adminhtml</epicor_reports>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <reports>
                    <file>epicor_reports.xml</file>
                </reports>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <epicor_reports_options>
            <speed>
                <enabled>1</enabled>
                <time_range>0,250,500,750,1000,1500,2000</time_range>
            </speed>
            <performance>
                <enabled>1</enabled>
            </performance>
            <minmaxavg>
                <enabled>1</enabled>
            </minmaxavg>
        </epicor_reports_options>
    </default>
    <chart_types>
        <speed>
            <title>Speed</title>
        </speed>
        <performance>
            <title>Performance</title>
        </performance>
        <minmaxavg>
            <title>Minimum, Maximum &amp; Average</title>
            <resolution_units>
                <minutes>
                    <factor>60</factor>
                    <label>Minute(s)</label>
                </minutes>
                <hours>
                    <factor>3600</factor>
                    <label>Hour(s)</label>
                </hours>
                <days>
                    <default>1</default>
                    <factor>86400</factor>
                    <label>Day(s)</label>
                </days>
            </resolution_units>
        </minmaxavg>
    </chart_types>
    <chart_message_status>
        <both>Both</both>
        <combined>Combined</combined>
        <successful>Successful</successful>
        <unsuccessful>Unsuccessful</unsuccessful>
    </chart_message_status>
</config>