<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Epicor_Lists>
            <version>1.0.9.5</version>
        </Epicor_Lists>
    </modules>
    <adminhtml>  
        <secure_url>
            <epicor_lists>/epicor_lists/</epicor_lists>
        </secure_url>
        <layout>
            <updates>
                <epicor_lists>
                    <file>epicor/lists.xml</file>
                </epicor_lists>
            </updates>
        </layout>  
    </adminhtml>
    <global>
        <ecc_version_info>
            <Epicor_Lists>
                <version>1.0.9.6</version>
                <released>2018-07-26</released>
            </Epicor_Lists>
        </ecc_version_info>
        <models>
            <epicor_lists>
                <class>Epicor_Lists_Model</class>
                <resourceModel>epicor_lists_resource</resourceModel>
            </epicor_lists>
            <epicor_lists_resource>
                <class>Epicor_Lists_Model_Resource</class>
                <entities>
                    <list>
                        <table>epicor_lists_list</table>
                    </list>
                    <list_brand>
                        <table>epicor_lists_list_brand</table>
                    </list_brand>
                    <list_label>
                        <table>epicor_lists_list_label</table>
                    </list_label>  
                    <list_website>
                        <table>epicor_lists_list_website</table>
                    </list_website> 
                    <list_store_group>
                        <table>epicor_lists_list_store_group</table>
                    </list_store_group>  
                    <list_erp_account>
                        <table>epicor_lists_list_erp_account</table>
                    </list_erp_account>
                    <list_customer>
                        <table>epicor_lists_list_customer</table>
                    </list_customer>
                    <list_product>
                        <table>epicor_lists_list_product</table>
                    </list_product>
                    <list_product_price>
                        <table>epicor_lists_list_product_price</table>
                    </list_product_price>        
                    <list_address>
                        <table>epicor_lists_list_address</table>
                    </list_address>
                    <contract>
                        <table>epicor_lists_contract</table>
                    </contract>
                    <contract_product>
                        <table>epicor_lists_contract_product</table>
                    </contract_product>
                    <list_address_restriction>
                        <table>epicor_lists_list_address_restrictions</table>
                    </list_address_restriction>
                </entities>
            </epicor_lists_resource>
            <catalogrule>
                <rewrite>
                    <rule_condition_product>Epicor_Lists_Model_Catalogrule_Rule_Condition_Product</rule_condition_product>                     
                </rewrite>
            </catalogrule>
        </models>     
        <resources>
            <epicor_lists_setup>
                <setup>
                    <module>Epicor_Lists</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </epicor_lists_setup>
        </resources>
        <helpers>
            <epicor_lists>
                <class>Epicor_Lists_Helper</class>
            </epicor_lists>
        </helpers>
        <events>
        </events>
        
        <blocks>
            <epicor_lists>
                <class>Epicor_Lists_Block</class>
            </epicor_lists>
        </blocks>
        <fieldsets>
            <sales_convert_quote>					
                <ecc_contract_code>
                    <to_order>*</to_order>
                </ecc_contract_code>                                   
            </sales_convert_quote>	
            <sales_convert_quote_item>
                <ecc_contract_code>
                    <to_order_item>*</to_order_item>
                </ecc_contract_code>
            </sales_convert_quote_item>
            <sales_convert_order_item>                                              
                <ecc_contract_code>
                    <to_quote_item>*</to_quote_item>
                </ecc_contract_code>
            </sales_convert_order_item>
        </fieldsets>
        <xml_message_types>
            <sync>
                <lists>
                    <label>Lists</label>
                    <sort_order>50</sort_order>
                    <messages>
                        <cupg>CUPG</cupg>
                        <cccn>CCCN</cccn>
                    </messages>
                </lists>
            </sync>
            <request>
                <cccd>CCCD - Customer Contracts</cccd>             
            </request> 
            <request>
                <cccs>CCCS - Customer Contracts Search</cccs>
            </request>            
            <upload>
                <cupg>
                    <label>CUPG - Lists</label>
                    <order>2100</order>
                    <base>epicor_lists</base>
                    <registry_type>Lists</registry_type>
                    <registry_type_desc>CUPG - Lists</registry_type_desc>
                </cupg>
                <cccn>
                    <label>CCCN - Contracts</label>
                    <order>2200</order>
                    <base>epicor_lists</base>
                    <registry_type>Contracts</registry_type>
                    <registry_type_desc>CCCN - Contracts</registry_type_desc>
                </cccn> 
                <curp>
                    <label>CURP - Restricted Purchase</label>
                    <order>2300</order>
                    <base>epicor_lists</base>
                    <registry_type>RestrictedPurchase</registry_type>
                    <registry_type_desc>CURP - Restricted Purchase</registry_type_desc>
                </curp>
            </upload>
        </xml_message_types>
    </global>
    <frontend>
        <secure_url>
            <epicor_lists>/lists/</epicor_lists>
        </secure_url>
        <layout>
            <updates>
                <epicor_lists>
                    <file>epicor/lists.xml</file>
                </epicor_lists>
                <epicor_lists_rwd>
                    <file>epicor/lists_rwd.xml</file>
                </epicor_lists_rwd>
                <epicor_lists_ultimo>
                    <file>epicor/lists_ultimo.xml</file>
                </epicor_lists_ultimo>
            </updates>
        </layout>
        <routers>
            <epicor_lists>
                <use>standard</use>
                <args>
                    <module>Epicor_Lists</module>
                    <frontName>lists</frontName>
                </args>
            </epicor_lists>
        </routers>        
        <events>
            <epicor_b2b_check_access_rights_after>
                <observers>
                    <epicor_lists_frontend_contracts_contractSelect>
                        <type>singleton</type>
                        <class>Epicor_Lists_Model_Observer_Frontend_Contracts</class>
                        <method>contractSelectionObserver</method>
                    </epicor_lists_frontend_contracts_contractSelect>
                </observers>
            </epicor_b2b_check_access_rights_after>
            <epicor_b2b_check_access_rights_after>
                <observers>
                    <epicor_lists_frontend_contracts_contractSelectBanner>
                        <type>singleton</type>
                        <class>Epicor_Lists_Model_Observer_Frontend_Contracts</class>
                        <method>contractSelectionBanner</method>
                    </epicor_lists_frontend_contracts_contractSelectBanner>
                </observers>
            </epicor_b2b_check_access_rights_after>            
            <epicor_comm_onepage_get_checkout_addresses>
                <observers>
                    <listsGetCheckoutAddresses>
                        <class>Epicor_Lists_Model_Observer_Checkout_Onepage</class>
                        <method>getCheckoutAddresses</method>
                    </listsGetCheckoutAddresses>
                </observers>
            </epicor_comm_onepage_get_checkout_addresses>
            <customer_logout>
                <observers>
                    <epicor_lists_frontend_lists_clearSession>
                        <type>singleton</type>
                        <class>Epicor_Lists_Model_Observer_Frontend_Lists</class>
                        <method>logoutClearSession</method>
                    </epicor_lists_frontend_lists_clearSession>
                </observers>
            </customer_logout> 
            <catalog_product_collection_load_before>
                <observers>
                    <epicor_lists_list_filter_products>
                        <type>singleton</type>                          
                        <class>Epicor_Lists_Model_Observer_Frontend_Lists</class>
                        <method>filterProducts</method>
                    </epicor_lists_list_filter_products>
                </observers>
            </catalog_product_collection_load_before> 
            <epicor_comm_layer_prepare_product_collection>
                <observers>
                    <epicor_lists_list_filter_products>
                        <type>singleton</type>                          
                        <class>Epicor_Lists_Model_Observer_Frontend_Lists</class>
                        <method>filterProducts</method>
                    </epicor_lists_list_filter_products>
                </observers>
            </epicor_comm_layer_prepare_product_collection>             
            <core_block_abstract_to_html_before>
                <observers>
                    <epicor_comm_model_observer>
                        <class>Epicor_Lists_Model_Observer</class>
                        <method>modifyBlockHtmlBefore</method>
                    </epicor_comm_model_observer>
                </observers>
            </core_block_abstract_to_html_before>
            <epicor_lists_contract_select_after>
                <observers>
                    <epicor_lists_frontend_contracts_cartCheckContractSelect>
                        <type>singleton</type>
                        <class>Epicor_Lists_Model_Observer_Frontend_Contracts</class>
                        <method>contractsCartCheck</method>
                    </epicor_lists_frontend_contracts_cartCheckContractSelect>
                </observers>
            </epicor_lists_contract_select_after>
            <customer_login>
                <observers>
                    <epicor_lists_frontend_contracts_cartCheckCustomerLogin>
                        <type>singleton</type>
                        <class>Epicor_Lists_Model_Observer_Frontend_Contracts</class>
                        <method>contractsCartCheck</method>
                    </epicor_lists_frontend_contracts_cartCheckCustomerLogin>
                </observers>
            </customer_login>
            <msq_sendrequest_before>
                <observers>
                    <epicor_lists_nodefault_uom_msq_sendrequest_before>
                        <type>singleton</type>
                        <class>Epicor_Lists_Model_Observer_Frontend_Lists</class>
                        <method>prepareNoDefaultUomProductsForMsq</method>
                    </epicor_lists_nodefault_uom_msq_sendrequest_before>
                    <epicor_lists_pricelist_preparedata_msq_sendrequest_before>
                        <type>singleton</type>
                        <class>Epicor_Lists_Model_Observer_Frontend_Pricelist</class>
                        <method>prepareDataBeforeSendMsq</method>
                    </epicor_lists_pricelist_preparedata_msq_sendrequest_before>
                </observers>
            </msq_sendrequest_before>
            <msq_sendrequest_after>
                <observers>
                    <epicor_lists_pricelist_processdata_msq_sendrequest_after>
                        <type>singleton</type>
                        <class>Epicor_Lists_Model_Observer_Frontend_Pricelist</class>
                        <method>processDataAfterSendMsq</method>
                    </epicor_lists_pricelist_processdata_msq_sendrequest_after>
                    <epicor_lists_nodefault_uom_msq_sendrequest_after>
                        <type>singleton</type>
                        <class>Epicor_Lists_Model_Observer_Frontend_Lists</class>
                        <method>afterSendMsqNoDefaultUomProducts</method>
                    </epicor_lists_nodefault_uom_msq_sendrequest_after>
                </observers>
            </msq_sendrequest_after>
        </events>
        <list_filters>
            <filters>
                <filterByWebsite>
                    <model>epicor_lists/list_filter_website</model>
                </filterByWebsite>
                <filterByStoreGroup>
                    <model>epicor_lists/list_filter_store</model>
                </filterByStoreGroup>
                <filterByErpAccountType>
                    <model>epicor_lists/list_filter_erpaccount</model>
                </filterByErpAccountType>
                <filterByErpAccount>
                    <model>epicor_lists/list_filter_erpaccounttype</model>
                </filterByErpAccount>
                <filterByCustomer>
                    <model>epicor_lists/list_filter_customer</model>
                </filterByCustomer>
                <filterByRestriction>
                    <model>epicor_lists/list_filter_restriction</model>
                </filterByRestriction>
                <filterByMandatory>
                    <model>epicor_lists/list_filter_mandatory</model>
                </filterByMandatory>                 
            </filters>
        </list_filters>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <epicor_lists before="Mage_Adminhtml">Epicor_Lists_Adminhtml</epicor_lists>
                    </modules>
                </args>
            </adminhtml>
        </routers>        
    </admin>
    <default>
        <epicor_lists>
            <contracts>
                <shipto>1</shipto>
                <shiptoselection>all</shiptoselection>
                <shiptodate>all</shiptodate>
                <shiptoprompt>1</shiptoprompt>
                <header>1</header>
                <headerselection>all</headerselection>
                <headerprompt>1</headerprompt>
                <headeralways>1</headeralways>
                <line>1</line>
                <lineprompt>1</lineprompt>
                <linealways>1</linealways>
                <showheadercontractbanner>no</showheadercontractbanner>
            </contracts>
        </epicor_lists>
        <customerconnect_enabled_messages>
            <CUCO_mapping>
                <master_shopper_update>1</master_shopper_update>
                <master_shopper_default_value>1</master_shopper_default_value>
                <is_master_shopper>is_master_shopper</is_master_shopper>               
            </CUCO_mapping>
            <CCCD_request>
                <active>0</active>
                <log_all_requests>1</log_all_requests>
            </CCCD_request>
            <CCCS_request>
                <active>0</active>
                <log_all_requests>1</log_all_requests>
                <grid_config>a:3:{s:16:"_1474537054006_6";a:8:{s:6:"header";s:8:"Erp Code";s:4:"type";s:4:"text";s:7:"options";s:0:"";s:5:"index";s:14:"account_number";s:9:"filter_by";s:3:"erp";s:9:"condition";s:4:"LIKE";s:9:"sort_type";s:4:"text";s:8:"renderer";s:0:"";}s:18:"_1474537149605_605";a:8:{s:6:"header";s:14:"Contract Title";s:4:"type";s:4:"text";s:7:"options";s:0:"";s:5:"index";s:14:"contract_title";s:9:"filter_by";s:3:"erp";s:9:"condition";s:4:"LIKE";s:9:"sort_type";s:4:"text";s:8:"renderer";s:0:"";}s:18:"_1474537157539_539";a:8:{s:6:"header";s:16:"Contract Address";s:4:"type";s:4:"text";s:7:"options";s:0:"";s:5:"index";s:35:"delivery_addresses_delivery_address";s:9:"filter_by";s:3:"erp";s:9:"condition";s:4:"LIKE";s:9:"sort_type";s:4:"text";s:8:"renderer";s:67:"Epicor_Customerconnect_Block_Customer_List_Renderer_DeliveryAddress";}}</grid_config>
            </CCCS_request> 
        </customerconnect_enabled_messages>
        <epicor_comm_field_mapping>
            <cupg_mapping>
                <active>1</active>
                <title_update>1</title_update>
                <settings_update>1</settings_update>
                <status_update>1</status_update>
                <stores_update>1</stores_update>
                <erp_accounts_update>1</erp_accounts_update>
                <products_update>1</products_update>
                <description_update>1</description_update>
            </cupg_mapping>
            <cccn_mapping>
                <active>1</active>
                <title_update>1</title_update>
                <contract_status_update>1</contract_status_update>
                <erp_accounts_update>1</erp_accounts_update>
                <default_currency_update>1</default_currency_update>
                <sales_rep_update>1</sales_rep_update>
                <contact_update>1</contact_update>
                <start_date_update>1</start_date_update>
                <end_date_update>1</end_date_update>
                <purchase_order_number_update>1</purchase_order_number_update>
                <addresses_update>1</addresses_update>
                <products_update>1</products_update>
                <stores_update>1</stores_update>
                <description_update>1</description_update>
            </cccn_mapping>
            <cupg_mapping>
                <active>1</active>
                <title_update>1</title_update>                
                <settings_update>1</settings_update>                
                <stores_update>1</stores_update>
                <erp_accounts_update>1</erp_accounts_update>
                <products_update>1</products_update>
            </cupg_mapping>
            <curp_mapping>
                <active>1</active>
                <curp_code_update>1</curp_code_update>                
                <curp_title_update>1</curp_title_update>                
                <settings_update>1</settings_update>                
                <account_list_update>1</account_list_update>
                <restriction_update>1</restriction_update>
                <products_update>1</products_update>
            </curp_mapping>
        </epicor_comm_field_mapping>
    </default>
    <crontab>
    </crontab>
</config>