<?xml version="1.0"?>
<config>
    <modules>
        <Epicor_SalesRep>
            <version>1.0.9.0.1</version>
        </Epicor_SalesRep>
    </modules>
    <global>
        <ecc_version_info>
            <Epicor_SalesRep>
                <version>1.0.9.6</version>
                <released>2018-07-26</released>
            </Epicor_SalesRep>
        </ecc_version_info>
        <xml_salesrep_dashboard>
            <path>epicor_salesrep/account/index</path>
        </xml_salesrep_dashboard>
        <xml_message_types>
            <sync>
                <sales_reps>
                    <label>Sales Reps</label>
                     <sort_order>60</sort_order>
                    <messages>
                        <cusr>CUSR</cusr>
                    </messages>
                </sales_reps>
            </sync>
            <request></request>
            <upload>
                <cusr>
                    <label>CUSR - Upload Customer Sales Reps</label>
                    <order>2000</order>
                    <base>epicor_salesrep</base>
                </cusr>    
            </upload>
        </xml_message_types>
        <models>
            <epicor_salesrep>
                <class>Epicor_SalesRep_Model</class>
                <resourceModel>epicor_salesrep_resource</resourceModel>
            </epicor_salesrep>
            <epicor_salesrep_resource>
                <class>Epicor_SalesRep_Model_Resource</class>
                <entities>
                    <account>
                        <table>epicor_salesrep_account</table>
                    </account>
                    <hierarchy>
                        <table>epicor_salesrep_hierarchy</table>
                    </hierarchy>  
                    <erp_account>
                        <table>epicor_salesrep_erp_account</table>
                    </erp_account>  
                    <erpaccount>
                        <table>epicor_salesrep_erp_account</table>
                    </erpaccount>
                    <hierarchy>
                        <table>epicor_salesrep_hierarchy</table>
                    </hierarchy>
                    <pricing_rule>
                        <table>epicor_salesrep_pricing_rule</table>
                    </pricing_rule>
                    <pricing_rule_product>
                        <table>epicor_salesrep_pricing_rule_product</table>
                    </pricing_rule_product>        
                    <pricing_rule_product_idx>
                        <table>epicor_salesrep_pricing_rule_product_idx</table>
                    </pricing_rule_product_idx>        
                </entities>
            </epicor_salesrep_resource>
            <catalogrule>
                <rewrite>
                    <rule_condition_product>Epicor_SalesRep_Model_Catalogrule_Rule_Condition_Product</rule_condition_product>                     
                </rewrite>
            </catalogrule>
            <rule>
                <rewrite>
                    <resource_rule_condition_sqlBuilder>Epicor_SalesRep_Model_Resource_Rule_Condition_SqlBuilder</resource_rule_condition_sqlBuilder>                     
                </rewrite>
            </rule>
            <checkout>
                <rewrite>                    
                    <onepage_salesrep_contact>Epicor_SalesRep_Model_Checkout_Type_Onepage_Salesrep_Contact</onepage_salesrep_contact>
                </rewrite>
            </checkout>
        </models>
        <blocks>
            <epicor_salesrep>
                <class>Epicor_SalesRep_Block</class>
            </epicor_salesrep>
            <sales>
                <rewrite>
                    <order_history>Epicor_SalesRep_Block_Sales_Order_History</order_history>
                </rewrite>
            </sales>
        </blocks>
        <helpers>
            <epicor_salesrep>
                <class>Epicor_SalesRep_Helper</class>
            </epicor_salesrep>
            <catalog>
                <rewrite>
                    <product_compare>Epicor_SalesRep_Helper_Product_Compare</product_compare>
                </rewrite>
            </catalog>
            <wishlist>
                <rewrite>
                    <data>Epicor_SalesRep_Helper_Wishlist_Data</data>
                </rewrite>
            </wishlist>
        </helpers>
        <resources>
            <epicor_salesrep_setup>
                <setup>
                    <module>Epicor_SalesRep</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </epicor_salesrep_setup>
        </resources>
        <index>
            <indexer>
                <salesrep_pricing_rule_product>
                    <model>epicor_salesrep/pricing_rule_product_indexer</model>
                </salesrep_pricing_rule_product>
            </indexer>
        </index>
        <ecc_account_selector_types>
            <salesrep>
                <label>Sales Rep</label>
                <field>sales_rep_account_id</field>
                <model>epicor_salesrep/account</model>
                <url>adminhtml/epicorsalesrep_customer_salesrep/listsalesrepaccounts/</url>
                <priority>30</priority>
            </salesrep>
        </ecc_account_selector_types> 
        <fieldsets>
            <sales_convert_quote>					
                <ecc_salesrep_customer_id>							
                    <to_order>*</to_order>			
                </ecc_salesrep_customer_id>					
                <ecc_salesrep_chosen_customer_id>							
                    <to_order>*</to_order>			
                </ecc_salesrep_chosen_customer_id>
                <ecc_salesrep_chosen_customer_info>							
                    <to_order>*</to_order>			
                </ecc_salesrep_chosen_customer_info>
            </sales_convert_quote>
            <sales_convert_quote_item>
                <ecc_salesrep_price>
                    <to_order_item>*</to_order_item>
                </ecc_salesrep_price>
                <ecc_salesrep_discount>
                    <to_order_item>*</to_order_item>
                </ecc_salesrep_discount>
                <ecc_salesrep_salesrep_rule_price>
                    <to_order_item>*</to_order_item>
                </ecc_salesrep_salesrep_rule_price>
            </sales_convert_quote_item>
        </fieldsets>
    </global>
    <frontend>
        <secure_url>
            <epicor_salesrep>/salesrep/</epicor_salesrep>
        </secure_url>
        <routers>
            <epicor_salesrep>
                <use>standard</use>
                <args>
                    <module>Epicor_SalesRep</module>
                    <frontName>salesrep</frontName>
                </args>
            </epicor_salesrep>
        </routers>
        <layout>
            <updates>
                <epicor_salesrep>
                    <file>epicor/salesrep.xml</file>
                </epicor_salesrep>
                <salesrep_rwd module="epicor_salesrep">
                    <file>epicor/salesrep_rwd.xml</file>
                </salesrep_rwd>
            </updates>
        </layout>
        <events>
            <epicor_customerconnect_crq_detail_lines_grid_columns_after>
                <observers>
                    <update_crq_detail_line_grid_columns_for_sales_reps>
                        <class>Epicor_SalesRep_Model_Observer_Crq</class>
                        <method>updateColumnsForSalesRepPrices</method>
                    </update_crq_detail_line_grid_columns_for_sales_reps>
                </observers>
            </epicor_customerconnect_crq_detail_lines_grid_columns_after>
            <epicor_customerconnect_crq_detail_lines_get_data_after>
                <observers>
                    <update_crq_detail_line_grid_columns_for_sales_reps>
                        <class>Epicor_SalesRep_Model_Observer_Crq</class>
                        <method>updateLinesForSalesRepPrices</method>
                    </update_crq_detail_line_grid_columns_for_sales_reps>
                </observers>
            </epicor_customerconnect_crq_detail_lines_get_data_after>
            <checkout_cart_update_items_after>
                <observers>
                    <checkForSalesRepPrices>
                        <class>Epicor_SalesRep_Model_Observer_Cart</class>
                        <method>checkForSalesRepPrices</method>
                    </checkForSalesRepPrices>
                </observers>
            </checkout_cart_update_items_after>
            <bsv_request_convert2xml_before>
                <observers>
                    <updateBsvPricesWithSalesRepPrices>
                        <class>Epicor_SalesRep_Model_Observer_Bsv</class>
                        <method>updateBsvRequestPrices</method>
                    </updateBsvPricesWithSalesRepPrices>
                </observers>
            </bsv_request_convert2xml_before>
            <cus_upload_processaction_after>
                <observers>
                    <updateErpAccountSalesRepLinkage>
                        <class>Epicor_SalesRep_Model_Observer_Cus</class>
                        <method>updateErpAccountSalesRepLinkage</method>
                    </updateErpAccountSalesRepLinkage>
                </observers>
            </cus_upload_processaction_after>
            <customer_customer_authenticated>
                <observers>
                    <emptyCart>
                        <type>singleton</type>                          
                        <class>Epicor_SalesRep_Model_Observer_Cart</class>
                        <method>salesRepLogin</method>
                    </emptyCart>
                </observers>
            </customer_customer_authenticated>
            <epicor_comm_masquerade_start>
                <observers>
                    <salesRepStartMasquerade>
                        <class>Epicor_SalesRep_Model_Observer_Cart</class>
                        <method>startMasquerade</method>
                    </salesRepStartMasquerade>
                </observers>
            </epicor_comm_masquerade_start>
            <epicor_comm_masquerade_end>
                <observers>
                    <salesRepEndMasquerade>
                        <class>Epicor_SalesRep_Model_Observer_Cart</class>
                        <method>endMasquerade</method>
                    </salesRepEndMasquerade>
                </observers>
            </epicor_comm_masquerade_end>
            <epicor_common_can_access_url_after>
                <observers>
                    <salesRepCanAccessUrl>
                        <type>singleton</type>
                        <class>Epicor_SalesRep_Model_Observer_Access</class>
                        <method>canAccessUrlAfter</method>
                    </salesRepCanAccessUrl>
                </observers>
            </epicor_common_can_access_url_after>
            
            <epicor_common_can_customer_access_url_after>
                <observers>
                    <salesRepCanCustomerAccessUrl>
                        <type>singleton</type>
                        <class>Epicor_SalesRep_Model_Observer_Access</class>
                        <method>canAccessUrlAfter</method>
                    </salesRepCanCustomerAccessUrl>
                </observers>
            </epicor_common_can_customer_access_url_after>
            <epicor_comm_is_functionality_disabled_after>
                <observers>
                    <salesRepIsFunctionalityDisabled>
                        <type>singleton</type>
                        <class>Epicor_SalesRep_Model_Observer_Access</class>
                        <method>isFunctionalityDisabledAfter</method>
                    </salesRepIsFunctionalityDisabled>
                </observers>
            </epicor_comm_is_functionality_disabled_after>
            <controller_action_layout_load_before>
                <observers>
                    <setupSalesRepLayout>
                        <class>Epicor_SalesRep_Model_Observer_Access</class>
                        <method>setupSalesRepLayout</method>
                    </setupSalesRepLayout>
                </observers>
            </controller_action_layout_load_before>
            <epicor_comm_onepage_shipping_get_address>
                <observers>
                    <changeShippingAddress>
                        <class>Epicor_SalesRep_Model_Observer_Checkout_Onepage</class>
                        <method>changeShippingAddress</method>
                    </changeShippingAddress>                  
                </observers>
            </epicor_comm_onepage_shipping_get_address>
            <epicor_comm_onepage_get_steps>
                <observers>
                    <addSalesRepStep>
                        <class>Epicor_SalesRep_Model_Observer_Checkout_Onepage</class>
                        <method>addSalesRepStep</method>
                    </addSalesRepStep>
                </observers>
            </epicor_comm_onepage_get_steps>
            <epicor_comm_onepage_get_active_step>
                <observers>
                    <getActiveSalesRepStep>
                        <class>Epicor_SalesRep_Model_Observer_Checkout_Onepage</class>
                        <method>getActiveSalesRepStep</method>
                    </getActiveSalesRepStep>
                </observers>
            </epicor_comm_onepage_get_active_step>
            <epicor_comm_onepage_get_checkout_addresses>
                <observers>
                    <getCheckoutAddresses>
                        <class>Epicor_SalesRep_Model_Observer_Checkout_Onepage</class>
                        <method>getCheckoutAddresses</method>
                    </getCheckoutAddresses>
                </observers>
            </epicor_comm_onepage_get_checkout_addresses>
            <customer_address_format>
                <observers>
                    <preFormatAddress>
                        <class>Epicor_SalesRep_Model_Observer_Checkout_Onepage</class>
                        <method>preFormatAddress</method>
                    </preFormatAddress>
                </observers>
            </customer_address_format>
            <sales_convert_quote_to_order>
                <observers>
                    <changeOrderCustomer>
                        <class>Epicor_SalesRep_Model_Observer_Checkout_Onepage</class>
                        <method>changeOrderCustomer</method>
                    </changeOrderCustomer>
                </observers>
            </sales_convert_quote_to_order>
            <epicor_comm_customer_can_masquerade_as>
                <observers>
                    <canMasqueradeAs>
                        <class>Epicor_SalesRep_Model_Observer_Customer</class>
                        <method>canMasqueradeAs</method>
                    </canMasqueradeAs>
                </observers>
            </epicor_comm_customer_can_masquerade_as>
            <customer_logout>
                <observers>
                    <logoutActions>
                        <type>singleton</type>
                        <class>Epicor_SalesRep_Model_Observer_Customer</class>
                        <method>logoutActions</method>
                    </logoutActions>
                </observers>
            </customer_logout>  
            <gor_request_convert2xml_before>
                <observers>
                    <epicor_salesrep_setContact>
                        <type>singleton</type>
                        <class>Epicor_SalesRep_Model_Observer_Gor</class>
                        <method>setContact</method>
                    </epicor_salesrep_setContact>
                </observers>
            </gor_request_convert2xml_before>
            <epicor_common_check_user_rights_before>
                <observers>
                    <epicor_salesrep_checkAccess>
                        <type>singleton</type>
                        <class>Epicor_SalesRep_Model_Observer_Customer</class>
                        <method>checkAccess</method>
                    </epicor_salesrep_checkAccess>
                </observers>
            </epicor_common_check_user_rights_before>
            <customer_customer_authenticated>
                <observers>
                    <epicor_salesrep_checkLogin>
                        <type>singleton</type>
                        <class>Epicor_SalesRep_Model_Observer_Customer</class>
                        <method>checkLogin</method>
                    </epicor_salesrep_checkLogin>
                </observers>
            </customer_customer_authenticated>        
            <epicor_common_get_default_session_access_groups>
                <observers>
                    <epicor_salesrep_hideBlocks>
                        <type>singleton</type>
                        <class>Epicor_SalesRep_Model_Observer_Access</class>
                        <method>getSalesRepAccessGroups</method>
                    </epicor_salesrep_hideBlocks>
                </observers>
            </epicor_common_get_default_session_access_groups> 
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <epicor_salesrep_model_observer_addcolumns>
                        <type>singleton</type>                          
                        <class>Epicor_SalesRep_Model_Observer</class>
                        <method>addPricelistColumns</method>
                    </epicor_salesrep_model_observer_addcolumns>
                </observers>     
            </core_block_abstract_prepare_layout_after>             
            <adminhtml_block_html_before>                
                <observers>
                    <epicor_salesrep_model_observer_removeColumns>
                        <type>singleton</type>                          
                        <class>Epicor_SalesRep_Model_Observer</class>
                        <method>updateColumns</method>
                    </epicor_salesrep_model_observer_removeColumns>
                </observers>     
            </adminhtml_block_html_before>  
            <controller_action_predispatch_epicor_salesrep_account_manage_pricelist>
                <observers>           
                    <temp_block_to_salesrep_pricelists>
                        <type>singleton</type>
                        <class>Epicor_SalesRep_Model_Observer_Access</class>
                        <method>stopAccessToPriceLists</method>
                    </temp_block_to_salesrep_pricelists>
                </observers>
            </controller_action_predispatch_epicor_salesrep_account_manage_pricelist>    
            <controller_action_predispatch_epicor_salesrep_account_manage_edit>
                <observers>           
                    <temp_block_to_salesrep_pricelists>
                        <type>singleton</type>
                        <class>Epicor_SalesRep_Model_Observer_Access</class>
                        <method>stopAccessToPriceLists</method>
                    </temp_block_to_salesrep_pricelists>
                </observers>
            </controller_action_predispatch_epicor_salesrep_account_manage_edit>    
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <epicor_salesrep before="Mage_Adminhtml">Epicor_SalesRep_Adminhtml</epicor_salesrep>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <salesreps>
                    <file>epicor/salesrep.xml</file>
                </salesreps>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <epicor_comm_field_mapping>
            <cusr_mapping>
                <active>1</active>
                <create_new_managers>1</create_new_managers>
                <managers_update>1</managers_update>   
                <erp_accounts_update>1</erp_accounts_update>
            </cusr_mapping>
        </epicor_comm_field_mapping>
        <epicor_salesrep>
            <general>
                <enabled>0</enabled>
                <catalog_allowed>Y</catalog_allowed>
                <masquerade_search>10</masquerade_search>
                <masquerade_search_dashboard>1</masquerade_search_dashboard>
            </general>
            <masquerade_search>
                <short_code>1</short_code>
                <account_number>0</account_number>
                <invoice_address>1</invoice_address>
                <default_shipping_address>0</default_shipping_address>
            </masquerade_search>
            <checkout>
                <choose_contact_enabled>1</choose_contact_enabled>
                <choose_contact_required>0</choose_contact_required>
            </checkout>
            <management>
                <frontend_children_create>1</frontend_children_create>
                <frontend_children_addexisting>0</frontend_children_addexisting>
            </management>
        </epicor_salesrep>
        <epicor_comm_enabled_messages>            
            <msq_request>   
                <triggers>   
                    <salesrep_price_lists>1</salesrep_price_lists>
                </triggers>   
            </msq_request> 
        </epicor_comm_enabled_messages> 
                   
    </default>
    <global>
        <erps>
            <e10>
                <epicor_salesrep>
                    <masquerade_search>
                        <short_code>1</short_code>
                        <account_number>0</account_number>
                        <invoice_address>1</invoice_address>
                        <default_shipping_address>0</default_shipping_address>
                    </masquerade_search>
                </epicor_salesrep>
            </e10>
            <p21>
                <epicor_salesrep>
                    <masquerade_search>
                        <short_code>0</short_code>
                        <account_number>1</account_number>
                        <invoice_address>1</invoice_address>
                        <default_shipping_address>0</default_shipping_address>
                    </masquerade_search>
                </epicor_salesrep>
            </p21>
        </erps>
    </global>
</config>
