/* 
    Document   : quickadd
    Created on : 01-Oct-2013
    Author     : Gareth.James
    Description:
        Quick add block stylesheet
*/

/* Quick Add  */

#cart-quick-add {
    position:relative
}

#qa_sku,
#qa_qty
{
    width: 97%;
}
.quickadd-autocomplete-container,
.lineadd-autocomplete-container {
    position: relative;
}

.quickadd-autocomplete,
.lineadd-autocomplete,
.sku-autocomplete {
    position: absolute;
    z-index: 999;
}
.lineadd-autocomplete,
.sku-autocomplete {
    width: 200px;
}

.quickadd-autocomplete ul,
.sku-autocomplete ul {
    background-color: #fff;
    border: 1px solid #5C7989;
}

.quickadd-autocomplete li,
.sku-autocomplete li{
    border-bottom: 1px solid #bbb;
    cursor: pointer;
    padding: 2px 8px 1px;
    margin:0;
    text-align: left;
}

.quickadd-autocomplete li .amount,
.sku-autocomplete li .amount {
    float: right;
    font-weight: bold;
}

.quickadd-autocomplete li.odd,
.sku-autocomplete li.odd {
    background-color: #f5f5f5;
}

.quickadd-autocomplete li.selected,
.sku-autocomplete li.selected{
    background-color: #F7E8DD;
}

.quickadd-autocomplete .qa_more,
.lineadd-autocomplete .qa_more {
    width:100%;
}

.quickadd-form-list .required em {
    color:#f00;
    margin-right:2px;
}

#cart-quick-add p.required {
    color:#f00;
    float:left;
}

#cart-quick-add .target {
    margin: 1%;
}

#cart-quick-add .target span {
    font-weight:bold;
    clear:both;
    display:block;
}

#cart-quick-add .target label {
    margin: 5px 0;
}

#cart-quick-add .target input{
    margin: 7px 3px;
    clear:left;
}

#cart-quick-add .target label,
#cart-quick-add .target input{
    float:left;
}

.quotes-manage-view a {text-decoration: none;}
.quotes-manage-view a:hover {text-decoration: none;}

#quickadd-form input.qty[type="text"]
{
    width:97% !important;
    text-align: left;
}

.la_qty_box input[type=text].qty{
    text-align: left;
    width: 60% !important;
}