<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Epicor_QuickOrderPad>
            <version>1.0.6.0.0</version>
        </Epicor_QuickOrderPad>
    </modules> 
    <global>
        <ecc_version_info>
            <Epicor_QuickOrderPad>
                <version>1.0.9.6</version>
                <released>2018-07-26</released>
            </Epicor_QuickOrderPad>
        </ecc_version_info>
        <helpers>
            <quickorderpad>
                <class>Epicor_QuickOrderPad_Helper</class>
            </quickorderpad>
        </helpers>
        <blocks>
            <quickorderpad>
                <class>Epicor_QuickOrderPad_Block</class>
            </quickorderpad>
        </blocks>
        <events>
             <checkout_cart_update_item_complete>
                <observers>
                    <return_to_quick_order_pad>
                        <type>singleton</type>                          
                        <class>Epicor_QuickOrderPad_Model_Observer</class>
                        <method>returnToQuickorderpad</method>
                    </return_to_quick_order_pad>
                </observers>
            </checkout_cart_update_item_complete>
        </events>
    </global>
    
    <frontend>
        <secure_url>
            <quickorderpad>/quickorderpad/</quickorderpad>
        </secure_url>
        <routers>
            <quickorderpad>
                <use>standard</use>
                <args>
                    <module>Epicor_QuickOrderPad</module>
                    <frontName>quickorderpad</frontName>
                </args>
            </quickorderpad>
        </routers>
        <layout>
            <updates>
                <quickorderpad>
                    <file>quickorderpad.xml</file>
                </quickorderpad>
            </updates>
        </layout>
    </frontend>
    <defaults>
        <quickorderpad>
            <general>
                <show_cart_summary>0</show_cart_summary>
            </general>
        </quickorderpad>
    </defaults>
</config>
