<?xml version="1.0"?>
<config>
    <modules>
        <DotNetIT_Frontend>
            <version>0.0.1</version>
        </DotNetIT_Frontend>
    </modules>
    <global>
        <blocks>
            <frontend>
                <class>DotNetIT_Frontend_Block</class>
            </frontend>
            <checkout>
                <rewrite>
                    <checkout_links>DotNetIT_Frontend_Block_Checkout_Links</checkout_links>
                </rewrite>
            </checkout>
        </blocks>
        <helpers>
            <DotNetIT_Frontend>
                <class>DotNetIT_Frontend_Helper</class>
            </DotNetIT_Frontend>
            
        </helpers>
    </global>
</config>