<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Epicor_Cre>
            <version>0.1.1</version>
        </Epicor_Cre>
    </modules>

    <global>
        <ecc_version_info>
            <Epicor_Cre>
                <version>1.0.9.6</version>
                <released>2018-07-26</released>
            </Epicor_Cre>
        </ecc_version_info>
        <blocks>
            <cre>
                <class>Epicor_Cre_Block</class>
            </cre>
        </blocks>
        <helpers>
            <cre>
                <class>Epicor_Cre_Helper</class>
            </cre>
        </helpers>
        <models>
            <cre>
                <class>Epicor_Cre_Model</class>
                <resourceModel>cre_resource</resourceModel>
            </cre>
            <cre_resource>
                <class>Epicor_Cre_Model_Resource</class>
                <entities>
                    <token>
                        <table>epicor_cre_token</table>
                    </token>
                </entities>
            </cre_resource>
        </models>
        <resources>
            <cre_setup>
                <setup>
                    <module>Epicor_Cre</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </cre_setup>
        </resources>
        <fieldsets>
            <sales_convert_quote_payment>
                <ccv_token>
                    <to_order_payment>*</to_order_payment>
                </ccv_token>
                <cvv_token>
                    <to_order_payment>*</to_order_payment>
                </cvv_token>
            </sales_convert_quote_payment>
        </fieldsets>
    </global>
    <frontend>
        <secure_url>
            <cre>/cre/</cre>
        </secure_url>
        <routers>
            <cre>
                <use>standard</use>
                <args>
                    <module>Epicor_Cre</module>
                    <frontName>cre</frontName>
                </args>
            </cre>
        </routers>
        <layout>
            <updates>
                <cre>
                    <file>cre.xml</file>
                </cre>
            </updates>
        </layout>
        <events></events>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <cre>
                    <file>epicor_cre.xml</file>
                </cre>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                                <args>
                                        <modules>
                                                <epicor_cre before="Mage_Adminhtml">Epicor_Cre_Adminhtml</epicor_cre>
                                        </modules>
                                </args>
                        </adminhtml>
        </routers>
    </admin>
    <!-- declare default configuration values for this module -->
    <default>
        <payment>
            <cre>
                <test_url></test_url>
                <live_url></live_url>
                <live_mode>0</live_mode>
                <active>0</active>
                <model>cre/paymentMethod</model>
                <order_status>processing</order_status>
                <title>CRE Card Payment</title>
                <payment_action>authorize</payment_action>
                <button_name>Purchase</button_name>
                <heading_adv>Epicor Retail Cloud</heading_adv>
                <public_key></public_key>
                <namespace></namespace>
                <body_background>#fff</body_background>
                <purchaseenabled>1</purchaseenabled>
                <font_color>#fff</font_color>
                <font_background>#5cb85c</font_background>
                <payment_title>Epicor Retail Cloud</payment_title>
            </cre>
        </payment>
    </default>
</config>