<?xml version="1.0"?>
<config>
    <modules>
        <Epicor_Pay>
            <version>4.0.8.0-</version>
        </Epicor_Pay>
    </modules>
    <frontend>
        <routers>
            <pay>
                <use>standard</use>
                <args>
                    <module>Epicor_Pay</module>
                    <frontName>pay</frontName>
                </args>
            </pay>
        </routers>
        <layout>
            <updates>
                <pay>
                    <file>pay.xml</file>
                </pay>
            </updates>
        </layout>
        <events>
            <save_payment_method>
                <observers>
                    <epicor_pay_model_observer>
                        <type>singleton</type>
                        <class>Epicor_Pay_Model_Observer</class>
                        <method>updateBillingAddress</method>
                    </epicor_pay_model_observer>
                </observers>
            </save_payment_method>
            <sales_quote_payment_import_data_before>
                <observers>
                    <epicor_pay_model_observer>
                        <type>singleton</type>
                        <class>Epicor_Pay_Model_Observer</class>
                        <method>msUpdateBillingAddress</method>
                    </epicor_pay_model_observer>
                </observers>
            </sales_quote_payment_import_data_before>
        </events>    
    </frontend>
    <global>
        <ecc_version_info>
            <Epicor_Pay>
                <version>1.0.9.6</version>
                <released>2018-07-26</released>
            </Epicor_Pay>
        </ecc_version_info>
        <models>
            <pay>
                <class>Epicor_Pay_Model</class>
                <resourceModel>pay_mysql4</resourceModel>
            </pay>
            <pay_mysql4>
                <class>Epicor_Pay_Model_Mysql4</class>
                <entities>
                    <pay>
                        <table>pay</table>
                    </pay>
                </entities>
            </pay_mysql4>
        </models>
        <blocks>
            <pay>
                <class>Epicor_Pay_Block</class>
            </pay>
        </blocks>
        <helpers>
            <pay>
                <class>Epicor_Pay_Helper</class>
            </pay>
        </helpers>
    </global>
    <default>
        <payment>
            <pay>
                <active>1</active>
                <model>pay/pay</model>
                <order_status>processing</order_status> 
                <title>Epicor Payment Method</title>
                <message>Epicor account credit</message>
                <update_billing_address>0</update_billing_address>
                <message_update_billing>Selecting this option will discard any billing address changes that you have made for this order and the account's default billing address will be used</message_update_billing>
                <payment_action>authorize_capture</payment_action>
            </pay>
         </payment>
    </default>
</config>