<?xml version="1.0"?>
<config>
    <modules>
        <Epicor_Faqs>
            <version>1.0.6.0.0</version>
        </Epicor_Faqs>
    </modules>
    <global>
        <ecc_version_info>
            <Epicor_Faqs>
                <version>1.0.9.6</version>
                <released>2018-07-26</released>
            </Epicor_Faqs>
        </ecc_version_info>
        <models>
            <epicor_faqs>
                <class>Epicor_Faqs_Model</class>
                <resourceModel>faqs_resource</resourceModel>
            </epicor_faqs>
            <faqs_resource>
                <class>Epicor_Faqs_Model_Resource</class>
                <entities>
                    <faqs>
                        <table>epicor_faqs</table>
                    </faqs>
                    <vote>
                        <table>epicor_faqs_votes</table>
                    </vote>
                </entities>
            </faqs_resource>
        </models>
        <helpers>
            <epicor_faqs>
                <class>Epicor_Faqs_Helper</class>
            </epicor_faqs>
        </helpers>
        <blocks>
            <epicor_faqs>
                <class>Epicor_Faqs_Block</class>
            </epicor_faqs>
        </blocks>
        <resources>
            <epicor_faqs_setup>
                <setup>
                    <module>Epicor_Faqs</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </epicor_faqs_setup>
        </resources>
    </global>
    <frontend>
        <secure_url>
            <epicor_faqs>/faq/</epicor_faqs>
        </secure_url>
        <routers>
            <epicor_faqs>
                <use>standard</use>
                <args>
                    <module>Epicor_Faqs</module>
                    <frontName>faq</frontName>
                </args>
            </epicor_faqs>
        </routers>
        <layout>
            <updates>
                <epicor_faqs>
                    <file>epicor_faqs.xml</file>
                </epicor_faqs>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Epicor_Faqs before="Mage_Adminhtml">Epicor_Faqs_Adminhtml</Epicor_Faqs>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <epicor_faqs>
                    <file>epicor_faqs.xml</file>
                </epicor_faqs>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <faqs>
            <view>
                <enabled>0</enabled>
                <presentation>accordion</presentation>
                <sort>usefulness</sort>
                <show_keywords>1</show_keywords>
            </view>
        </faqs>
    </default>
</config>