<?xml version="1.0"?>
<config>
    <modules>
        <Epicor_Upgrade>
            <version>1.0.6.0.0</version>
        </Epicor_Upgrade>
    </modules>
    <global>
        <ecc_version_info>
            <Epicor_Upgrade>
                <version>1.0.9.6</version>
                <released>2018-07-26</released>
            </Epicor_Upgrade>
        </ecc_version_info>
        <blocks>
            <epicor_upgrade>
                <class>Epicor_Upgrade_Block</class>
            </epicor_upgrade>
        </blocks>
        <helpers>
            <epicor_upgrade>
                <class>Epicor_Upgrade_Helper</class>
            </epicor_upgrade>
        </helpers>
        <resources>
            <epicor_upgrade_setup>
                <setup>
                    <module>Epicor_Upgrade</module>
                </setup>
            </epicor_upgrade_setup>
        </resources>
    </global>
    <adminhtml>  
        <layout>
            <updates>
                <epicor_upgrade>
                    <file>epicor_upgrade.xml</file>
                </epicor_upgrade>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                                <args>
                                        <modules>
                                                <epicor_upgrade before="Mage_Adminhtml">Epicor_Upgrade_Adminhtml</epicor_upgrade>
                                        </modules>
                                </args>
                        </adminhtml>
        </routers>
    </admin>
</config>